* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
}

header {
    height: 150px;
    .container {
        height: 100%;
        nav {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                text-decoration: none;
                color: brown;
            }
            ul {
                list-style: none;
                li {
                    text-transform: uppercase;
                    font-size: 1.3em;
                    font-weight: 600;
                    a {
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

footer {
    bottom: 50px;
    text-align: center;
}